@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Exo", monospace;
}


.context {
    width: 100%;
    position: absolute;
    border-radius: 5px;

    display: inline-block;
    font-size: 2em;

}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 70px;
text-shadow: 1px 5px 8px #02020291, 5px 4px 8px #0000;

}

@media only screen and (max-width: 768px) {
  .context h1 {
  font-size: 35px;
}
}

.moneyclass {
    padding: 20px 40px 20px;

    border-radius: 25px;
    display: inline; font-size: 100px;
}

@media only screen and (max-width: 768px) {
 .moneyclass  {
  font-size: 40px;
  padding: 0px;
}
}

.ifstate {
    margin-top: 15px;
    font-size: .27em;
}

@media only screen and (max-width: 768px) {
  .ifstate {
  font-size: .3em;
}
}

.area{
background-color: #00b712;
  background: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
background-image: linear-gradient(110deg, #00b712 0%, #5aff15 74%);

    width: 100%;
    height:100vh;


  overflow-x: hidden;


  position: relative;

}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  animation: animate 5s linear infinite;
  bottom: -150px;
  background: rgba(255, 255, 255, 0.2);
  background-image: url(../img/dollarbill.jpg);
  background-size: cover;
}

.circles li:nth-child(1) {
  left: 21%;
  width: 170px; /* Adjust width to resemble a dollar bill */
  height: 70px; /* Adjust height to resemble a dollar bill */
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 170px; /* Adjust width to resemble a dollar bill */
  height: 70px; /* Adjust height to resemble a dollar bill */
  animation-delay: 2s;
  animation-duration: 9s;
}

.circles li:nth-child(3){
    left: 70%;
 width: 170px ;/* Adjust width to resemble a dollar bill */
  height: 70px; /* Adjust height to resemble a dollar bill */
    animation-delay: 4s;
}



.circles li:nth-child(6){
    left: 75%;
  width: 170px ;/* Adjust width to resemble a dollar bill */
  height: 70px; /* Adjust height to resemble a dollar bill */
    animation-delay: 3s;
}





.circles li:nth-child(9){
    left: 20%;
 width: 170px; /* Adjust width to resemble a dollar bill */
  height: 70px; /* Adjust height to resemble a dollar bill */
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
  width: 170px; /* Adjust width to resemble a dollar bill */
  height: 70px; /* Adjust height to resemble a dollar bill */
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: .9;
        border-radius: 0;
    }

    100%{
        transform: translateY(-100vh) rotate(720deg);
        opacity: 0;
        border-radius: 1%;
    }

}
